html,
body,
h1,
ul {
  margin: 0;
  padding: 0;
}

body {
  /* uiGradient */
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #323232;
  font-size: 16px;
}

.container {
  width: 400px;
  margin: 100px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.title {
  background: #6555a2;
  color: white;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 10px 20px;
}

.fa-plus {
  float: right;
}

.list__input {
  background: #f2f2f2;
  color: #6555a2;
  width: 100%;
  padding: 10px 17px;
  border: 3px solid rgba(0, 0, 0, 0);
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;

}

.list__input:focus {
  background: white;
  border: 3px solid #6555a2;
  outline: none;
}

.list {
  list-style: none;
}

.list__item {
  background: white;
  height: 40px;
  line-height: 40px;
}

.list__item:nth-of-type(2n) {
  background: #f2f2f2;
}

.list__item_done {
  color: #797979;
  text-decoration: line-through;
}

.list__bin {
  display: inline-block;
  background: #e84f2c;
  color: white;
  width: 0;
  height: 40px;
  text-align: center;
  margin-right: 20px;
  opacity: 0;
  transition: 0.2s linear;
}

.list__item:hover .list__bin{
  width: 40px;
  opacity: 1.0;
}